.header{
  position: absolute;
  z-index: 1;
  height: $header-height;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $bg-color-header;
  padding: 0 0.7em;
  box-shadow: $default-box-shadow;

  .title{
    display: inline-block;
    color: white;
    font-size: 1.3em;
  }

  .wrapper{
    @extend .inlineFlexCentered;
    float: left;
    height: 100%;
  }

  .wrapperButtons{
    display: inline-flex;
    height: 100%;
    align-items: center;
    float: right;
    height: 100%;
  }

  .updateCard{

    svg{
      transition: 1s;
    }

    &.activeUpdate svg{
      animation: circle 1s infinite linear;
    }
  }

  .updateCard,
  .savedCities,
  .addCard{
    @extend .defaultBtn;
    margin-left: 9px;
  }

  .btnMenu{
    @extend .inlineFlexCentered;
  }

  .settings{
    @extend .defaultBtn;
    @extend .inlineFlexCentered;
    margin-right: 13px;
  }
}