.header{
  @extend .flexCentered;
  position: relative;
  z-index: 1;
  height: $header-height;
  width: 100%;
  background-color: $bg-color-header;
  padding: 0 0.6em;
  justify-content: space-between;
  box-shadow: $default-box-shadow;

  .title{
    display: inline-block;
    color: white;
    font-size: 1.3em;
  }

  .wrapper{
    @extend .inlineFlexCentered;
  }

  .wrapperButtons{
    display: inline-flex;
    height: 100%;
    align-items: center;
  }

  .updateCard{
    transition: 1s;

    &.activeUpdate{
      animation: circle 1s infinite linear;
    }
  }

  .updateCard,
  .addCard{
    @extend .defaultBtn;
    margin-left: 9px;
  }

  .settings{
    @extend .defaultBtn;
    margin-right: 13px;
  }
}