.containerCardWeater{
  position: absolute;
  top: $header-height;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
  background-color: #343952;

  .preloader{
    padding: 1.5em;
  }

  .listCardWeater{
    position: relative;
    z-index: 1;
  }

  .itemCardWeather{
    padding: 0.5em;
    margin: 0.7em 0.7em 1.4em 0.7em;
    position: relative;
    background-color: rgba(255, 255, 255, 0.18);
    color: white;
    border-radius: 5px;
    box-shadow: $default-box-shadow;
  }

  .cityName{
    font-size: 1.5em;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 30px;
    line-height: 1.3;
  }

  .regionName{
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .containerDate{

    .content{
      display: block;
      line-height: 1.4;
    }

    .descriptionTime{
      margin-left: 0.3em;
    }

    .updatedTime{
      margin-top: 0.5em;
      display: inline-block;
    }
  }

  .containerTemperatureToday{
    @extend .flexCentered;
    margin-top: 0.3em;
    flex-direction: column;
    align-items: flex-start;
  }

  .temperatureToday{
    font-size: 2.2em;
    line-height: 1.4;
  }

  .containerMinMaxToday{
    display: flex;

    .wrapper{
      margin: 0.1em 0.4em 0 0.1em;
    }
  }

  .imgToday{
    width: 85px;
    transform: scale(1.25);
  }

  .descriptionAtmosphere{

    .content{
      padding: 0.22em 0;
      font-size: 1.1em;
      border-bottom: 1px dotted #bdbbbb;
      margin: 0.2em 0;
    }

    .title{
      width: 140px;
      display: inline-block;
    }
  }

  .row{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cell:nth-child(1),
  .cell:nth-child(2){
    margin-right: 3%;
    width: 350px;
  }

  .wrapperForecast{
    min-width: 40%;
  }

  .blockForecast{
    @extend .flexCentered;
    flex-direction: column;
  }

  .titleForecast{
    margin: 0.5em 0;
    font-size: 1.1em;
    text-align: center;
  }

  .itemForecast{
    @extend .flexCentered;
    margin: 0.2em 0;
    padding: 0.3em 0;
    font-size: 0.9em;
    border-bottom: 1px dotted #bdbbbb;
    justify-content: space-between;

    .cellForecast{
      @extend .inlineFlexCentered;
    }

    .dateForecast{
      margin: 0 0.6em;
    }

    .maxIcon,
    .minIcon{
      font-size: 0.8em;
    }

    .containerMinMax{
      display: inline-flex;
    }

    .minTemperature,
    .maxTemperature{
      margin: 0.35em 0.5em;
      min-width: 60px;
    }

    .cellForecast{

      &:nth-child(1){
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  .itemForecast:last-child{
    border: none;
  }

  .imgForecast{
    width: 50px;
    margin: 0 0.5em 0 2em;
  }
}