.containerCardWeater{
  @media (max-width: 1400px) {
    .wrapperForecast{
      width: 100%;
    }

    .row{
      flex-wrap: wrap;
    }
  }

  @media (max-width: 850px) {
    .cell:nth-child(1),
    .cell:nth-child(2){
      width: 280px;
    }

    .itemCardWeather{
      padding: 0.4em 0 0 0;
    }
  }

  @media (max-width: 650px) {
    .descriptionAtmosphere{

      .content:last-child{
        border: none;
      }
    }

    .itemForecast{

      .minTemperature{
        margin-right: 0;
      }
    }

    .itemCardWeather{
      padding: 0.5em 0.6em 0 0.6em;
    }

    .listForecast{
      width: 100%;
    }

    .condition{
      text-align: center;
    }

    .cell:nth-child(2),
    .cell:nth-child(1){
      margin: 0 0 0.7em 0;
      width: 100%;
    }

    .cell:nth-child(1){
      margin: 0 0 1.7em 0;
    }

    .blockTemperature{
      display: flex;
      justify-content: space-around;
      margin-top: 1.2em;
    }

    .containerTemperatureToday{
      margin: 0;
      justify-content: space-between;
      align-items: center;
    }

    .temperatureToday{
      line-height: initial;
    }

    .containerMinMaxToday{

      .wrapper{
        margin: 0 0.4em 0 0;
      }
    }
  }

  @media (max-width: 600px) {
    .cell:nth-child(1){
      width: 100%;
    }

    .listForecast{
      width: 100%;
    }

    .cellForecast{
      .containerMinMax{
        flex-direction: column;
      }
    }
      .itemForecast{
        .maxTemperature{
          margin-right: 0;
        }

        .cellForecast{

          .dayForecast{
            margin-left: 0;
          }

          &:nth-child(1){
            flex-wrap: wrap;
            width: 50%;
            justify-content: flex-start;
          }
        }

        .dayForecast,
        .dateForecast{
          margin-right: 0;
        }

        .descriptionForecast{
          width: 100%;
          margin-left: 0;
        }
      }
  }

  @media (max-width: 470px) {
    .descriptionAtmosphere{

      .title{
        width: 130px;
        font-size: 1em;
      }
    }

    .imgForecast{
      width: 40px;
      margin: 0 0 0 0.5em;
    }

    .itemForecast{
      flex-direction: row;
      justify-content: space-between;

      .maxTemperature,
      .minTemperature{
        text-align: right;
      }

      .cellForecast{
        flex-direction: column;

        &:nth-child(2){
          flex-direction: row;
          justify-content: flex-end;
        }
      }

      .containerMinMax{
        flex-direction: column;
      }
    }
  }

  @media (max-width: 360px) {
    .itemForecast{
      display: flex;
      justify-content: flex-start;
      width: 100%;

      .cellForecast{
        width: 50%;

        &:nth-child(2){
          width: 50%;
        }
      }
    }
  }
}