body,html{
  margin: 0;
  padding: 0;
  user-select: none;
}

*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

button::-moz-focus-inner{
  border:none;
}