.containerInput{
  position: relative;
  display: inline-block;
  width: 500px;

  .inputSearch{
    font-size: 20px;
    padding: 0.45em 2em 0.45em 0.45em;
    width: 100%;
    border: 2px solid white;
    border-radius: 4px;
    outline: none;

    &:focus{
      border-color: gold;
    }
  }

  .buttonClear{
    @extend .defaultBtn;
    @extend .inlineFlexCentered;
    width: 35px;
    height: 85%;
    position: absolute;
    right: 2px;
    top: 7.5%;
  }
}