.containerMessage{
  position: absolute;
  top: -600px;
  left: 0.3em;
  width: 250px;
  padding: 1.65em 0.7em 0.7em 0.7em;
  z-index: 3;
  background-color: #cce5ff;
  border-radius: 4px;
  color: #004085;
  box-shadow: 0px 0px 7px 1px #4a4747;
  transition: 0.25s;

  &.active{
    top: 0.3em;
  }

  .deleteMessage{
    @extend .defaultBtn;
    @extend .inlineFlexCentered;
    position: absolute;
    top: 0.35em;
    right: 0.35em;
    padding: 0.3em;
    border-radius: 3px;
    border: 1px solid #403939;
  }

  .message{
    font-size: 1.07em;
    white-space: pre-line;
  }
}